@media screen and (prefers-color-scheme: dark) {

    body {
        background-image: var(--bg-waves-dark);
        color: var(--dark-font-dark);
        }
    .post-block {
        background-color: var(--box-bg-dark)
    }
    p {
        color: var(--main-font-dark)
    }
    h2 {
        color:black; 
    text-shadow: 
        -0.1rem 0.1rem var(--hover-orange), 
        0.1rem -0.1rem var(--hover-orange),
        0.1rem 0.1rem var(--hover-orange),
        -0.1rem -0.1rem var(--hover-orange),
        0.2rem -0.2rem var(--warm-yellow),
        -0.2rem 0.2rem var(--warm-yellow);
    }
    .title-wrapper {
        background-image: var(--blob-dark);
    }

    .parser-code {
        background-color: var(--orange-gray);
    }
}