@import "root.css";

* {
    padding: 0;
    margin: 0;
}

html {
    overflow: auto;
    min-height: 100%;
}

body{
    min-height: 100%;
    overflow: auto;
    font-family: "Red Hat Display", sans-serif;
    background: var(--bg-waves);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    
hr {
    border-color: var(--main-orange);
}

.index-wrapper {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    max-width: fit-content;
}

.title-wrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    margin-top: 5rem;
    padding-top: 10rem;
    padding-bottom: 12rem;
    background: var(--blob);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;

}

h1 {
    margin: 0;
    margin-left: auto;
    width: fit-content;
    color: var(--warm-yellow);
    letter-spacing: 0.7rem;
    align-self: center;
    background: -webkit-linear-gradient(315deg, #e67700, #ffc078);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e67700;
    font-family: "Tiny5", "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.main-title {
    font-size: 5rem;
}

h2 {
    font-family: "Righteous", sans-serif;
    color: var(--light-font);
    margin-left: auto;
    width: fit-content;
    margin-right: 1rem;
    font-weight: 300;
    text-shadow: -0.1rem 0.1rem var(--hover-orange), -0.2rem 0.2rem var(--warm-yellow);
}

h2.blog-post {
    margin-left: 0;
}

h3 {
    font-weight: 500;
    font-family: "Righteous", sans-serif;
}

a {
    color: var(--main-orange);
    text-decoration: none;
}

a:hover {
    color: var(--hover-orange);
    font-family: "Tiny5", "Fira Sans Condensed", sans-serif;
}

p {
    color: var(--main-font);
    margin-bottom: 1rem;
}


.cloudberry-large {
    min-width: 10rem;
    min-height: 10rem;
    margin-bottom: 5rem;
    background-image: var(--cloudberry);
    background-repeat: no-repeat;
}
.cloudberry-large:hover {
    background-image: url("/static/cloudberries/cloudberry-pixel.png");
    min-width: 10rem;
    min-height: 10rem;
    margin-bottom: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.cloudberry {
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
    background-image: url("/static/cloudberries/cloudberry-pixel.png");
    background-size: contain;
    image-rendering: pixelated;
    /* background-image: var(--cloudberry); */
    background-repeat: no-repeat;
}

.post-block {
    max-width: 60rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    text-align: justify;
    text-justify: inter-word;
}

.home-post-block {
    max-width: 50rem;
}

.post-block-wrapper {
    max-width: fit-content;
    margin: auto;
    padding: 0.2rem;
    border-radius: 0.6rem;
    background: linear-gradient(
        135deg, 
        var(--pale-blue)
        0%, 
        var(--pale-orange)
        100%
    );
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.breaker {
    height: 0.1rem;
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    background: linear-gradient(
        135deg, 
        var(--pale-blue)
        0%, 
        var(--pale-orange)
        100%
    );
}

.menu-item {
    width: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cloudberries-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    max-width: fit-content;
    gap: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}


@media screen and (prefers-color-scheme: dark) {


    body {
        background-image: var(--bg-waves-dark);
        color: var(--dark-font-dark);
        }
    .post-block {
        background-color: var(--box-bg-dark)
    }
    p {
        color: var(--main-font-dark)
    }
    h2 {
        color:black; 
    text-shadow: 
        -0.1rem 0.1rem var(--hover-orange), 
        -0.2rem 0.2rem var(--warm-yellow),
        /* 0.1rem -0.1rem var(--hover-orange) */
        0.1rem -0.1rem var(--warm-yellow);
    }
    .title-wrapper {
        background-image: var(--blob-dark);
    }
    .cloudberries-header {
        margin: auto;
    }
}

/* "%23c2255c"/><stop id="jq_stop_7708" offset="1" stop-color="%230c8599" */