@import "root.css";

* {
    padding: 0;
    margin: 0;
}

html {
    overflow: auto;
    min-height: 100%;
}

body{
    min-height: 100%;
    overflow: auto;
    font-family: "Red Hat Display", sans-serif;
    background: var(--bg-waves);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

hr {
    border-color: transparent;
    height: 0.05rem;
    margin: auto;
    width: 80%;
    background: linear-gradient(
        90deg, 
        transparent 0%, 
        rgba(240, 140, 0, 1) 50%, 
        transparent 100%
    );
    margin-top: 0.5rem;
}

.menu-item {
    display: inline-block;
    min-width: 6rem;
    max-width: 6rem;
    height: 3rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    background: var(--blob-menu-1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-size: 1.4rem;
}

.menu-item:nth-child(1) {
    background-image: var(--blob-menu-4);
    background-size: 85%;
}

.menu-item:nth-child(3) {
    padding-left: 1rem;
    background-image: var(--blob-menu-3);
    background-size: 85%;
}

.menu-item:nth-child(4) {
    background-image: var(--blob-menu-2);
    background-size: 80%;
}

.menu-item:nth-child(5) {
    background-image: var(--blob-menu-5);
}

div.top-menu {
    max-width: fit-content;
    margin: auto;
    min-height: 5.5rem;
}

.index-wrapper {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    max-width: fit-content;
}

.title-wrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    margin-top: 5rem;
    padding-top: 10rem;
    padding-bottom: 12rem;
    background: var(--blob);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;

}

h1 {
    margin: 0;
    margin-left: auto;
    width: fit-content;
    color: var(--warm-yellow);
    align-self: center;
    background: -webkit-linear-gradient(315deg, #e67700, #ffc078);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e67700;
    letter-spacing: 0.4rem;
    font-family: "Tiny5", "Fira Sans Condensed", sans-serif;
    font-size: 3rem;
}

.main-title {
    font-size: 5rem;
}

h2 {
    font-family: "Righteous", sans-serif;
    color: var(--light-font);
    margin-left: auto;
    width: fit-content;
    margin-right: 1rem;
    font-weight: 300;
    text-shadow: -0.1rem 0.1rem var(--hover-orange), 
                 /* 0.1rem -0.1rem var(--hover-orange), 
                 0.1rem 0.1rem var(--hover-orange), 
                 -0.1rem -0.1rem var(--hover-orange),  */
                 -0.2rem 0.2rem var(--warm-yellow)
    ;
}

h2.blog-post {
    margin-left: 0;
}

h3 {
    font-weight: 500;
    font-family: "Righteous", sans-serif;
}

a {
    color: var(--main-orange);
    text-decoration: none;
}

a:hover {
    color: var(--hover-orange);
    font-family: "Tiny5", "Fira Sans Condensed", sans-serif;
}

.category-btn:hover {
    font-family: "Red Hat Display", sans-serif;
}

p {
    color: var(--main-font);
    margin-bottom: 1rem;
}


.cloudberry-large {
    min-width: 10rem;
    min-height: 10rem;
    margin-bottom: 5rem;
    background-image: var(--cloudberry);
    background-repeat: no-repeat;
}
.cloudberry-large:hover {
    background-image: url("/static/cloudberries/cloudberry-pixel.png");
    min-width: 10rem;
    min-height: 10rem;
    margin-bottom: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.cloudberry {
    min-width: 8rem;
    min-height: 8rem;
    max-width: 8rem;
    max-height: 8rem;
    background-image: url("/static/cloudberries/cloudberry-pixel.png");
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
}

.post-block {
    max-width: 60rem;
    min-width: 60rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    text-align: justify;
    text-justify: inter-word;
}

.home-post-block {
    max-width: 50rem;
}

.post-block-wrapper {
    max-width: fit-content;
    margin: auto;
    padding: 0.2rem;
    border-radius: 0.6rem;
    background: linear-gradient(
        315deg, #66a80f, #7da600, #92a400, #a7a100, 
        #ba9d00, #cd9800, #df9200, #f08c00
    );
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.breaker {
    height: 0.1rem;
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    background: linear-gradient(
        135deg, 
        var(--pale-blue)
        0%, 
        var(--pale-orange)
        100%
    );
}


.cloudberries-header {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 1rem;
    margin: auto;
    margin-top: 0.5rem;
}

/* Parsed Markdown to Html variables */
.parser-h1 {
    margin: auto;
}

.parser-h2 {
    color: var(--main-orange);
    margin: auto;
    text-shadow: none;
}

.parser-h3 {
/*  */
}

.parser-h4 {
/*  */
}

.parser-ul {
    min-width: 40rem;
    max-width: 40rem;
    margin: auto;
    list-style: none;
    padding-left: 0;
}

.parser-ul li {
    padding-left: 1.5rem;
    margin-bottom: 0.2rem;
    position: relative;
}

.parser-ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-image: var(--cloudberry);
}

.parser-ol {
    min-width: 40rem;
    max-width: 40rem;
    margin: auto;
}

.parser-li {
    padding-left: 1.5rem;
}

.parser-code {
    max-width: 40rem;
    min-width: 40rem;
    background-color: var(--orange-gray);
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin: auto;
    padding-bottom: 0.1rem;
}

.parser-code::after {
    color: var(--light-orange-gray);
    counter-increment: codecount;
    content: "code block " counter(codecount);
}

.parser-eq-wrapper {
    margin: auto;
    display: flex;
    max-width: 30rem;
    min-width: 30rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.parser-eq-wrapper::after {
    counter-increment: eqcount;
    color: var(--light-orange-gray);
    content: "   (eq. " counter(eqcount) ")";
}

.parser-eq {
    max-width: 27rem;
    min-width: 27rem;
    margin: auto;
    font-size: 1.5rem;
}

code {
    margin: 0;
    font-size: 0.79rem; /* Allows 80 chars per line */
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 0.2rem;
}

a.selected {
    color: var(--orange-gray);        
}

.category {
    background-color: var(--orange-gray);
    border-radius: 0.6rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin: 0.5rem;
}

.selected-category {
    background-color: var(--main-orange);
}

.category:hover {
    background-color: var(--warm-yellow);
}

.categories {
    max-width: 30rem;
    padding: 1rem 1rem 0 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

form {
    font-size: 1.2rem;
    padding: 1rem;
}

label {
    width: 7rem;
    display: inline-block;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    color: var(--light-orange-gray);
}

input {
    display: inline-block;
    width: 49rem;
    margin-top: 1rem;
    border-color: var(--hover-orange);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

input#id_cc_myself {
    width: 1rem;
}

textarea {
    display: inline-block;
    width: 49rem;
    margin-top: 1rem;
    border-color: var(--hover-orange);
    padding: 0.5rem;
    border-radius: 0.5rem;
    resize: vertical;
}

.contact-button {
    background-color: var(--orange-gray);
    padding: 0.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--main-orange);
}

.contact-button:hover {
    background-color: var(--main-orange);
    color: var(--orange-gray);
}


/* Uncomment to activate darkmode based on system settings */
/* @import "dark-mode.css"; *.menu-item {
