{% extends "cloudberries/listpage.html" %}

{% block title %}
    {% if category is None %}
        cloudberries
    {% else %}
        Blog: {{ category }}
    {% endif %}
{% endblock title %}

{% block posts %}
    <div class="categories">
        {% for cat in categories %}
            {% if cat.name == category %}
                <div class="category selected-category">
                <a class="selected category-btn" href="{% url 'cloudberries_category' cat.name %}">
            {% else %}
                <div class="category">
                <a class="category-btn" href="{% url 'cloudberries_category' cat.name %}">
            {% endif %}
                {{ cat.name }}
            </a></div>
        {% endfor %}
    </div>
    {% include "listbox.html" with post_type="cloudberries_detail" posts=posts header=post_header %}
{% endblock posts %}