{% extends "cloudberries/posts.html" %}


{% block posts %}
    <div class="categories">
        {% for cat in categories %}
            {% if cat.name == category %}
                <div class="category selected-category">
                <a class="selected" href="{% url 'cloudberries_category' cat.name %}">
            {% else %}
                <div class="category">
                <a href="{% url 'cloudberries_category' cat.name %}">
            {% endif %}
                {{ cat.name }}
            </a></div>
        {% endfor %}
    </div>
    {% include "listbox.html" with posts=posts header=post_header %}
{% endblock posts %}