{% extends "base.html" %}
{% include "title.html" with title_name=title_name %}

{% block title %}
    Contact
{% endblock title %}

{% block extrascripts %}
<!-- <script async defer src="/altcha.js" type="module"></script> -->
{% endblock extrascripts %}

{% block page_content %}
<div class="post-block-wrapper">
    <div class="post-block">
        <h2>Contact</h2>
        <p> 
            You can contact me via the form below. I will aim to respond as soon 
            as possible. 
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-actions">
                <button class="contact-button" type="submit">Send</button>
            </div>
            <altcha-widget challengeurl="https://eu.altcha.org/api/v1/challenge?apiKey=ckey_ckey_01de81f1e69f80295ca22ba73ea1"></altcha-widget>
        </form>
    </div>
</div>
{% endblock page_content %}
