{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if post.title is None %}
        cloudberries
    {% else %}
        {{ post.title }}
    {% endif %}
{% endblock title %}

{% block extrascripts%}
    <script src="{% static "cloudberries/load-mathjax.js" %}" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai-sublime.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock extrascripts%}

{% block page_content %}
<div class="post-block-wrapper">
    <div class="post-block">
    <h2 class="blog-post">{{ post.title }}</h2>
    <small>
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'cloudberries_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small>
    <p>{{ body | safe }}</p>
</div>
</div>
{% endblock page_content %}
