{% extends "onlyheader.html" %}
{% load static %}

{% block base %}
<body>
    <script>0</script>
    <div class="cloudberries-header">
    <div class="cloudberry"></div>
    <h1>cloudberries</h1>
    </div>
    <div class="top-menu">
        <a class="menu-item" href="{% url 'cloudberries_index' %}">Home</a>
        <a class="menu-item" href="{% url 'cloudberries_projects' %}">Projects</a>
        <a class="menu-item" href="{% url 'cloudberries_tutorials' %}">Tutorials</a>
        <a class="menu-item" href="{% url 'cloudberries_posts' %}">Blog</a>
        <a class="menu-item" href="{% url 'cloudberries_contact' %}">Contact</a>
    </div>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
</body>
{% endblock base %}
