<hr class="bottom-menu">
<div class="bottom-menu">
    <a class="bottom-item" href="{% url 'cloudberries_index' %}">Home</a>
    <a class="bottom-item" href="{% url 'cloudberries_projects' %}">Projects</a>
    <a class="bottom-item" href="{% url 'cloudberries_tutorials' %}">Tutorials</a>
    <a class="bottom-item" href="{% url 'cloudberries_posts' %}">Blog</a>
    <a class="bottom-item" href="{% url 'cloudberries_contact' %}">Contact</a>
</div>
<small class="copy">Site Design/Content &copy 2024 Tim Chopard</small>