<div class="post-block-wrapper">
<div class="post-block {{ additional_div_class }}">
    <h2>{{ header }}</h2>
    {% if posts %}
    {% for post in posts %}
        <h3>
            <a href="{% url 'cloudberries_detail' post.pk %}">
                {{ post.title }}
            </a>
        </h3>
        <small>
            {{ post.created_on.date }} | Categories:
            {% for category in post.categories.all %}
                <a href="{% url 'cloudberries_category' category.name %}">
                    {{ category.name }}{% if not forloop.last %}, 
                    {% endif %}
                </a>
            {% endfor %}
        </small>
        <p>{{ post.summary | slice:"200" }}...</p>
        {% if not forloop.last %}
            <div class="breaker"></div>
        {% endif %}
    {% endfor %}
    {% else %}
        <p>There are no {{ header|lower }} here yet. Hopefully this will change very soon!</p>
    {% endif %}
    {% if footer_link%}
        <div class="breaker"></div>
        <a href="{% url footer_link %}">{{ footer }}</a>
    {% endif %}
    </div>
</div>